From: <%=h @contact_message.author %> (<%=h @contact_message.author_email %><%= 
  @contact_message.author_phone == "" ? "" : ", " + h(@contact_message.author_phone) %>)
Subject: <%=h @contact_message.subject %>

<%=h @contact_message.body %>

